scenedetect==0.6.6
torch==2.6.0
torchaudio==2.6.0
transformers==4.52.4
tensorflow-cpu>=2.12,<2.14
matplotlib==3.7.2
pandas==2.2.3
numpy==1.23.0
imagehash==4.3.1
Pillow==11.2.1
opencv-python-headless==4.11.0.86
tqdm==4.67.1
ultralytics==8.3.178
deepface==0.0.95
mediapipe==0.10.21
ffmpeg-python==0.2.0
whisper==1.1.10
librosa>=0.10.0,<0.12
google-generativeai>=0.8.3
langchain>=0.2.6
langchain-community>=0.2.6
langchain-google-genai>=0.0.13
chromadb>=0.5.3
pypdf>=4.2.0
gradio>=4.36.1
sentence-transformers>=2.7.0
